@import "compass";
@import "partials/_normalize.scss";
@import "partials/_variables.scss";
@import "partials/_base.scss";
@import "partials/fonts.scss";

#account{
    display:flex;
    padding: 50px;
    font-family: 'Montserrat', sans-serif;

    #form{
        min-width: 100%;
    }
    .field{
        label{
            font-size: 24px;
            line-height: 36px;
            border-bottom: 1px solid #2a2a2a;
            font-family: 'Montserrat', sans-serif;
        }

        p{
            font-size:14px;
            line-height:18px;
            font-family: 'Montserrat', sans-serif;
        }

        textarea{
            display: block;
            resize: vertical;
            max-width:50%;
            min-width: 30%;
            margin: 25px 0;
            min-height:100px;
            padding:7px;
        }
        
        .social-media-wrapper{
            display:flex;
            flex-direction: row;
            .social-media{
                a{
                    display: block;
                    padding: 10px;
                    
                    ion-icon{
                        font-size:32px;
                        filter: grayscale(100%);
                        @include transition(0.25s);
                    }
                    &:hover{
                        ion-icon{
                            filter: grayscale(0%);
                        }
                    }
                }
            }
        }
    }

    .updateAccountBtnWrapper{
        margin: 30px 0 0 0;
        .updateAccountBtn{
            padding: 8px 15px;
            border: 1px solid #2a2a2a;
            background: transparent;
            color: #2a2a2a;
            @include transition(0.25s);

            &:hover{
                cursor:pointer;
                background: #2a2a2a;
                color: #fff;
            }
        }
    }
}