@import "compass";
@import "partials/_normalize.scss";
@import "partials/_variables.scss";
@import "partials/_base.scss";
@import "partials/fonts.scss";

#form-wrapper{
    background:#fff;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    
    #form{
        
        flex:1;
        margin: 50px 10%;
        padding: 5%;
        border:1px solid #2a2a2a;
        display: flex;
        flex-direction: column;

        .form-title{
            font-family: 'Montserrat', sans-serif;
            font-size:26px;
            color:#2a2a2a;
            text-align: center;
            width:100%;
            margin:0 auto 15px;
            border-bottom: 1px solid #eaeaea;
            font-weight:300;
        }

        .form-input-wrapper{
            padding-bottom:15px;
        }

        .label{
            display:block;
            width:100%;
            font-size:20px;
            color:#2a2a2a;
            font-family: "Playfair Display";
            padding: 15px 0;
        }

        .input{
            width:100%;
            padding: 10px 15px;
            font-size:14px;;
            color:#2a2a2a;
            font-family: "Playfair Display";
        }

        textarea{
            resize: vertical;
            min-height: 200px;
        }
        
        .create-btn-wrapper{
            display:flex;
            flex-direction:row;
            justify-content: space-between;
            .create-btn,{
                margin: 15px auto 0;
                text-align:center;
                padding: 15px 0;
                width:30%;
                display:inline-block;
                border:1px solid #2a2a2a;
                color:#2a2a2a;
                @include transition(0.25s);

                &:hover{
                    cursor:pointer;
                    background: #2a2a2a;
                    color:#fff;
                }
            }
        }

        .warning-wrapper{
            display:flex;
            justify-content: center;
            align-items: center;
            font-family: 'Montserrat', sans-serif;

            .warning{
                padding:0;
                color: #ea3434;
                border-bottom:1px solid #ea3434;
                line-height:25px;
            }
        }

        .terms-wrapper{
            margin: 15px 0;
            display:flex;
            flex-direction: row;
            align-items: center;

            #terms{
                margin-right: 15px;
            }

            label{
                font-size:14px;
                line-height: 16px;
            }
        }
    }
}