@import "compass";
@import "partials/_normalize.scss";
@import "partials/_variables.scss";
@import "partials/_base.scss";
@import "partials/fonts.scss";

#draft{
    background: #fff;
    min-height:100%;
    font-family: 'Montserrat', sans-serif;

    .head-room{
        background: #ea3434;
        color: #fff;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding:0 5%;

        .Logo{
            text-decoration: none;
            color: #fff;
            font-size:36px;
            line-height:36px;

            &:hover{
                cursor:pointer;
            }
        }
    }

    #template-selector{
        margin:25px 10%;
        .template-selector-btn{
            display: inline-block;
            border: 1px solid #2a2a2a;
            padding:8px 16px;
            color:#2a2a2a;
            @include transition(0.25s);

            &:hover{
                cursor: pointer;
                background: #2a2a2a;
                color:#fff;
            }
        }
    }
    #editor-wrapper{
        padding:25px 10%;
        min-height:100%;
        font-size:16px;

        .editor{
            font-family: 'Montserrat', sans-serif;
        }
    }
}

