@import "compass";
@import "partials/_normalize.scss";
@import "partials/_variables.scss";
@import "partials/_base.scss";
@import "partials/fonts.scss";

#wrapper{
    min-height:100%;
    width:100%;
    display:flex;
    //display: grid;
    //grid-template-rows: 1fr 8fr 1fr;

    #header{
        background: #ea3434;
        border-bottom: 1px solid #ddd;
        display:flex;
        align-items: center;
        justify-content: center;
        
        .title{
            display: inline-block;
            font-family: MedievalSharp, sans-serif;
            color:#fff;
            font-size:26px;
        }
    }

    #content{
        background: #fff;
        display:grid;
        grid-template-columns: 1fr 1fr;

        .section{
            display:flex;
            align-items: center;
            justify-content: center;
            a{
                display: inline-block;
            }
        }
    }

    #footer{
        display:flex;
        background:#2a2a2a;
        justify-content: center;
        align-items: center;
        
        a{
            color: #fff;
        }
    }
}

#wrapper-2{
    display:grid;
    grid-template-columns: 2fr 8fr;
    min-height: 100%;

    #menu{
        background: #ea3434;
        border-right:2px solid #2a2a2a;

        #menu-list-wrapper{
            margin-top:200px;
            #menu-list{
                padding: 0 15px;
                .menu-item{
                    a{
                        display:block;
                        margin:10px 0;
                        font-family: 'Montserrat', sans-serif;
                        color: #fff;
                        font-size:16px;
                        line-height:24px;
                        text-decoration: none;
                        border-bottom: 1px solid transparent;
                        padding: 3px 10px;
                        @include transition(0.25s);
                    }

                    &:hover{

                        a,
                        a.active{
                            cursor:pointer;
                            color:#2a2a2a;
                            border-bottom: 1px solid #2a2a2a;
                        }
                    }
                }
            }
        }
    }

    #content-2{
        background: #fff;
    }
}

.modal-close{
    position: absolute;
    padding: 5px;
    top:10px;
    right:10px;
    ion-icon{
        @include transition(0.25s);
        font-size: 48px;
    }

    &:hover{
        cursor: pointer;
        ion-icon{
            color:#ea3434;
        }
    }
}