@import "compass";
@import "partials/_normalize.scss";
@import "partials/_variables.scss";
@import "partials/_base.scss";
@import "partials/fonts.scss";

#intro-wrapper{
    display:flex;
    width:100%;
    height:100%;
    align-content: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    #intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top:10%;
        width:40%;
        h1{
            text-align: center;
        }
        h3{
            text-align: center;
            border: 1px solid #2a2a2a;
            padding: 20px 40px;
            font-style: italic;
            font-size: 14px;
        }
    }
    
}