@import "compass";
@import "partials/_normalize.scss";
@import "partials/_variables.scss";
@import "partials/_base.scss";
@import "partials/fonts.scss";

#list-wrapper{
    background: #fff;
    padding:5% 10%;
}

#list{
    border:1px solid #2a2a2a;
}

.row{
    display:grid;
    grid-template-columns: 1fr 2fr 4fr 2fr 2fr;
    font-family: "Montserrat", sans-serif;
    border-bottom:1px solid #2a2a2a;

    &:last-child{
        border-bottom: none;
    }
    .index-column,
    .title-column,
    .desc-column,
    .date-column,
    .view-column
    {
        display:flex;
        padding:15px;
        justify-content: center;
        align-content: center;
        border-right: 1px solid #2a2a2a;
    }
    .view-btn{
        display:block;
        font-size:16px;
        color:#2a2a2a;
        text-decoration: none;
        @include transition(0.25s);

        &:hover{
            color: #2196F3;
            cursor: pointer;
        }
    }

    div:last-child{
        border-right:none;
    }
}

.loading{
    text-align:center;
    font-family: 'Montserrat', sans-serif;
}

.search-wrapper{
    position: relative;
    margin:20px 0;
    width:50%;
    
    .search-field{
        border:1px solid #ddd;
        background:#fff;
        font-family: 'Montserrat', sans-serif;
        padding:10px 15px;
        width:100%;
    }
    .search-btn-wrapper{
        position:absolute;
        right:0;
        top:0;
        height: 100%;
        padding: 0 10px;
        align-items: center;
        display:flex;
        color:#ddd;

        ion-icon{
            font-size:24px;
        }
    }
}

.pagination-wrapper{
    display:flex;
    .pagination{
        display:flex;
        flex:1;
        padding:0;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        list-style:none;
        .pages{
            display:flex;
            border-right: 1px solid #2a2a2a;
            @include transition(0.2s);

            .pages-btn{
                display:flex;
                justify-content: center;
                align-items: center;
                padding:10px;
                justify-content: center;
                align-items: center;
                text-align: center;
            border: 1px solid #2a2a2a;
            border-right: none;
            }
            &:hover{
                cursor:pointer;
                background:#2a2a2a;
                color:#fff;
            }
        }

        .break-me{
            display:flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-right: 1px solid #2a2a2a;
            @include transition(0.2s);

            a{
                display:flex;
                padding:10px 0;
                justify-content: center;
                align-items: center;
                text-decoration: none;

                &:hover{
                    cursor: unset;
                }
            }
        }

        .prev,
        .next{
            border: 1px solid #2a2a2a;
            border-right: none;
            @include transition(0.2s);
            
            a{
                display:flex;
                padding: 10px;
                justify-content: center;
                align-items: center;
            }
            &:hover{
                cursor: pointer;
                background:#2a2a2a;
                a{
                    color:#fff;
                }    
            }
        }
        .right-border{
            border-right: 1px solid #2a2a2a;
        }
        .active{
            background: #2a2a2a;
            color:#fff;
        }

        .disabled{
            background:#eaeaea;
            color:#666;

            &:hover{
                cursor: not-allowed;
                background:#eaeaea;
                
                a{
                    color:#666;   
                }
            }
        }
    }
}

.loader-container{
    display:flex;
    flex: 1 1;
    min-height:100%;
    justify-content: center;
    align-items: center;
}