@import "compass";
@import "partials/_normalize.scss";
@import "partials/_variables.scss";
@import "partials/_base.scss";
@import "partials/fonts.scss";

#login{
    #form{
        display:flex;
        margin: 100px 0 0 0;
        padding: 0 10%;
        flex-direction: column;
        justify-content: center;

        .form-label{
            margin:50px 0 0 0;
            padding:0;
            font-family: 'Montserrat', sans-serif;
            font-size:24px;
            text-align:center;
            font-weight: 300;
            color:#fff;
        }

        .form-input-wrapper{
            margin:15px 0 0 0;
            width:100%;

            .input{
                width:100%;
                padding:8px 10px;
            }
        }
        .login-btn-wrapper{
            margin:25px 0 0 0;
            align-self:center;
            .login-btn,
            .sign-up-btn{
                text-align: center;
                font-family: 'Montserrat', sans-serif;
                display:block;
                border:1px solid #fff;
                padding:10px 20px;
                color:#fff;
                @include transition(0.25s);

                a{
                    text-align:center;
                }

                &:hover{
                    cursor:pointer;
                    border:1px solid #2a2a2a;
                    background:#2a2a2a;
                }
            }
            .sign-up-btn{
                border:none;
                border-bottom:1px solid transparent;
                &:hover{
                    background: transparent;
                    border:none;
                    border-bottom: 1px solid #fff;
                }
            }
            .forgot-password{
                display:block;
                margin: 15px 0 0 0;
                font-style: italic;
                color: #2a2a2a;
                @include transition(0.25s);

                &:hover{
                    cursor:pointer;
                    color:#fff;
                }
            }
        }
        .margin-top-25{
            margin-top:25px;
        }
    }
}