@import "compass";
@import "partials/_normalize.scss";
@import "partials/_variables.scss";
@import "partials/_base.scss";
@import "partials/fonts.scss";


#news{
    position:relative;
    display:flex;
    flex-direction: column;
    background: #fff;
    padding:50px 5%;
    font-family:'Montserrat', sans-serif;

    .news-title-wrapper{
        .news-title{
            font-size:26px;
            padding:0;
        }
        .news-address{
            font-size:16px;
            text-decoration: underline;
            color:#2196F3;
            &:hover{
                cursor:pointer;
            }
        }
    }
    .paragraph-wrapper{

        .paragraph{
            text-align: justify;
            line-height:20px;
            font-size:14px;
        }
    }
    .details-wrapper{
        border-bottom:1px solid #eaeaea;

        .category,
        .tags,
        .date{
            padding: 8px 0;
            font-size: 16px;
            color:#2a2a2a;
            font-weight: 300;
            
            .label{
                font-size: 16px;
                color:#2a2a2a;
                font-weight: 300;
                margin-right:15px;    
            }
            span{
                font-weight: bold;
            }
        }
    }
    .accuracy-wrapper{
        margin:20px 0;
        padding:0 0 20px;
        border-bottom: 1px solid #eaeaea;

        .title{
            font-size:26px;
            font-weight: 300;
            color:#2a2a2a;
        }

        .accuracy-graph{
            border-bottom: 1px solid #eaeaea;
            padding-bottom:30px;
        }

        .evidence-wrapper{
            .evidence-list{
                border:1px solid #2a2a2a;
                
                .evidence{
                    display:grid;
                    grid-template-columns: 1fr 9fr;

                    .index{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-right:1px solid #eaeaea;
                    }
                    .content{
                        display: grid;
                        grid-template-columns: 1fr 5fr 2fr;

                        .link{
                            display:flex;
                            justify-content: center;
                            align-items: center;
                            font-size:14px;
                            text-decoration: none;
                            color:#2a2a2a;
                            border-right:1px solid #eaeaea;
                            @include transition(0.25s);
        
                            &:hover{
                                color: #ea3434;
                            }
                        }
        
                        .files{
                            display:flex;
                            align-items: center;
                            padding:0 25px;
                            border-right:1px solid #eaeaea;
                        }

                        .date{
                            display:flex;
                            align-items: center;
                            justify-content: center;
                            color:#2a2a2a;
                        }
                    }
                }
            }
        }

        .add-evidence{
            margin-top:25px;

            .button{
                padding:10px 25px;
                background: #fff;
                border:1px solid #2a2a2a;
                color:#2a2a2a;
                text-decoration: none;
                @include transition(0.2s);

                &:hover{
                    cursor: pointer;
                    color:#fff;
                    background:#2a2a2a;
                }
            }
        }
    }

    .author-wrapper{
        .author{
            
        }
    }

    .editCheckBox{
        position: absolute;
        top: 0;
        left: 0;
        width:5%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .description{
            margin-top:5px;
            display:block;
            color: #2a2a2a;
        }

        .editing{
            font-style: italic;
            color: #299a0b;
        }
    }
}