@import "compass";
@import "partials/_normalize.scss";
@import "partials/_variables.scss";
@import "partials/_base.scss";
@import "partials/fonts.scss";

#sign-up-wrapper{
    display:flex;
    flex:1;
    align-items: center;
    justify-content: center;
    min-height:100%;

    #sign-up-form{
        border:1px solid #2a2a2a;
        padding:40px;
        min-width:40%;
        font-family: "Montserrat", sans-serif;
        .form-field{
            label{
                margin:25px 0 0 0;
                display:block;
            }
            .input{
                margin:10px 0 0 0;
                padding:8px 15px;
                border: 1px solid #2a2a2a;
                width:100%;
            }
        }
        
        .warning-wrapper{
            .warning-message{
                color: #ea3434;
                text-align: center;
            }
        }

        .create-account-btn-wrapper{
            display:flex;
            margin:25px 0 0 0;
            justify-content: center;
            align-items: center;
            .create-account-btn{
                display:block;
                margin:25px 0 0 0;
                padding:10px 15px;
                border-bottom:1px solid transparent;
                @include transition(0.25s);

                &:hover{
                    cursor:pointer;
                    border-bottom:1px solid #2a2a2a;
                }
            }
        }
    }
}