@import "_variables.scss";

html{
    height: 100%;
}
body{
    position: relative;
    font-family: 'Arial Narrow', 'Helvetica', 'sans-serif';
    font-size: 1em;
    line-height: 1em;
    min-height: 100%;
    color:#2a2a2a;
    background: #eaeaea;
    display:flex;
}

* {
    box-sizing: border-box;
}

img{
    display:block;
    width:100%;
    height: auto;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:1em 0;
}
p{
    margin:0;
    padding:1em 0;
}

#root{
    flex:1;
    display:flex;
}

#app-wrapper{
    flex:1;
}
